<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Azure.css')}}"> <!--double curly braces specific to Flask-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>My Classes</title>
</head>

<body>
    <nav id="nav">
        <a href="/home" class="link">Home</a>
        <a href="/javascript" class="link">JavaScript</a>
        <a href="/python" class="link">Python</a>
        <a href="/azure" class="link">Azure</a>
    </nav>

    <section class="wrapper">
        {%for i in result%}
        <div class="my_videos"> 
        <p class="video_title">{{i[2]}}</p>
        <iframe src="https://www.youtube.com/embed/{{i[3].split('/')[3]}}"  width="400" height="300" class="screen"></iframe>
        </div>
        {%endfor%}
        
    </section>

</body>

