<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"> <!--double curly braces specific to Flask-->
    <title>My Classes</title>
</head>
<body>
    <nav id="nav">
        <a href="" class="link">Home</a>
        <a href="" class="link">JavaScript</a>
        <a href="" class="link">Python</a>
        <a href="" class="link">Azure</a>
    </nav>
    <section id="Presentation">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Distinctio nam omnis eum odit, corrupti ducimus aliquid libero doloremque. 
            Esse, repellat quisquam quia reiciendis sint veniam molestiae illum? Vel, 
            dignissimos expedita!
        </p>
    </section>
    <section id="Add_link">
        <div class="container">

            <div id="left_side">
                <label for="title">Enter the video's title:</label>
                <input class="input_text" type="text" name="title" id="" placeholder="Title">
                <label for="video_link">Copy the video's link:</label>
                <input class="input_text" type="text" name="video_link" id="" placeholder="Link">
            </div>  

            <div id="right_side">
                <label for="category">Select your category:</label>
                <select class="category" name="category" id="">
                    <option value="Javascript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="Azure">Azure</option>
                </select>
                <button class="add_button">Add</button>
            </div>

        </div>
    </section>
</body>
</html>